body {
 font-family:Arial,sans-serif;
 background-color: aliceblue;
 color: bisque;
 margin:0;
 padding: 20px;
}

.container {
    max-width: 600px;
    background: aquamarine;
    padding: 20px;
    margin:auto;
    border-radius: 10px;
}
header {
    text-align: center;
    background-color: aquamarine;
    color: white;
    padding:15px;
    border-radius: 10px 10px 0 0;
}

h1 {
    margin: 0;
}

h2 {
border-bottom: 2px solid antiquewhite;
padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}